include README.md
include LICENSE
include *.conf
include *.md
include requirements.txt
include requirements-dev.txt

recursive-include classroom_pilot *.py
# Include shell scripts (legacy)
recursive-include classroom_pilot/scripts_legacy *.sh
recursive-include classroom_pilot/utils *.sh
recursive-include classroom_pilot/docs *.md
recursive-include classroom_pilot/docs *.yml

exclude .gitignore
exclude .github/*
exclude tests/*

global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
